/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    background-image: url('assets/bg01/bg02.jpg');
    background-blend-mode: multiply;
    background-repeat: repeat;
    background-size: auto;
    color: white;
    padding: 1em;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5em;
}

section {
	padding-top:2%;
	padding-bottom:2%;
}
input {
    width:100;
}
.h2 {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    display: inline;
    margin-right: 1em;

}

nav ul li a {
    color: white;
    text-decoration: none;
    text-align: left;
}

main {
    padding: 0;
    padding-top: 0em;
    text-align: center;
}

#intro {
    background-color: #f4f4f4;
    padding: 2em;
    border-radius: 10px;
    margin: 2em auto;
    max-width: 600px;
}

#about h2 {
    margin-bottom: 1em;
    font-size: 30px;
    font-style: bold;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
}

.btn:hover {
    background-color: #0056b3;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: .1em;
}

#about {
background-image: url('assets/bg01/sl_031520_28970_32.jpg');
background-size: cover;
}

.about-text {
	text-align: left;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2em;
    margin-right: 0em;
    margin-left: 1em;
}


.about-pic img {
	width: 90%;
	height: auto;
	border-radius: 2em;
    padding-right: 0em;
    margin-left: 0;
    padding-left: 0;
}

#contact {
	background-color: #333;
    color: white;
    margin: 0px;
    padding: 20px;
}

#contact nav {
    padding: 10px;
}

#contact ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: inline; 
}

#contact li {
    margin-right: 25px; 
	margin-left: 25px;
}

#contact a {
    color: white; 
    text-decoration: none; 
    font-size: 24px; 
}

#contact a:hover {
    color: #ddd; 
}

form {
   display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    margin-right: 0;
    margin-left: 0;
	width:100%;
	text-align: center;
    padding-right: 2%;
    padding-left: 2%;
}

form button {
    width:70%;
}


form input, form textarea {
	width: 80%;
    margin-right:10%;
    margin-left:10%;
	text-align: left;
    padding: 10px;
    border: 1px solid #ddd; /* Light border */
    border-radius: 3px; /* Rounded corners */
    margin-bottom: 15px; /* Space between fields */
    font-size: 16px; /* Font size */
    
}

form button {
	width:15%;
	text-align: center;
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    border: 1px solid #ddd; /* Light border */
    border-radius: 3px; /* Rounded corners */
    padding: 10px; /* Padding inside the button */
    font-size: 16px; /* Font size */
    cursor: pointer;
    margin-left:42.5%;
    margin-right: 42.5%;
    margin-bottom:5px;
}

form button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

footer {
    background-color: #333;
    background-image: url('assets/bg01/bg02.jpg');
    background-blend-mode: multiply;
    background-repeat: repeat;
    background-size: auto;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 0px;
    border-top: solid grey;
}
