{
  "openapi": "3.1.0",
  "info": {
    "title": "Semyon Fox — Chat API",
    "version": "0.1.0",
    "description": "Conversational endpoint backing Semyon Fox's personal-site assistant. Answers as a third-person assistant representing him about his projects, blog, and background. Rate limited per-IP (20 req/min). Non-streaming, no reasoning tokens, 300-token reply cap, last 5 user/assistant turns kept server-side. Questions and replies are stored (with a coarse country code, never a raw IP) to improve the assistant; see https://semyon.ie/privacy.",
    "contact": {
      "name": "Semyon Fox",
      "email": "semyon.fox@gmail.com",
      "url": "https://semyon.ie"
    },
    "license": { "name": "MIT" }
  },
  "servers": [{ "url": "https://semyon.ie" }],
  "paths": {
    "/api/chat": {
      "post": {
        "summary": "Send a chat message",
        "description": "Submits a list of recent messages. The server prepends a fixed system prompt and keeps only the last 5 user/assistant turns. Returns a single plain-text reply. No streaming.",
        "operationId": "chat",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ChatRequest" },
              "examples": {
                "minimal": {
                  "summary": "Single user message",
                  "value": { "messages": [{ "role": "user", "content": "what are you working on lately?" }] }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assistant reply",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ChatResponse" },
                "examples": {
                  "reply": { "value": { "reply": "lately semyon's been grinding on the homelab and shipping a new feature for uisce. he's also chasing a sub-1min 100m free." } }
                }
              }
            }
          },
          "400": { "description": "Invalid request body", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ChatResponse" } } } },
          "429": { "description": "Rate limited (20 requests/minute/IP)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ChatResponse" } } } },
          "502": { "description": "Upstream model failure", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ChatResponse" } } } }
        }
      }
    },
    "/api/events": {
      "post": {
        "summary": "Record a usage event",
        "description": "Cookieless first-party analytics ping sent by the site itself (page views, aggregate internal navigation transitions, chat opens, game launches, outbound clicks, form submissions, 404s). Navigation records only a source path, destination path, and coarse placement; it does not create a browser or session identifier. Stores an optional external referrer origin, optional query-free target, direct/external acquisition classification, normalized campaign source, device class, browser/OS family and first Accept-Language tag (parsed server-side, raw user agent never stored), a coarse country code, and a daily-rotating anonymous visitor hash. Never stores raw IPs. Requests carrying DNT: 1 or Sec-GPC: 1 are accepted but not recorded. Rate limited per-IP (60 req/min).",
        "operationId": "event",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EventRequest" },
              "examples": {
                "pageview": {
                  "summary": "Page view",
                  "value": { "kind": "pageview", "path": "/blog", "referrer": null }
                }
              }
            }
          }
        },
        "responses": {
          "204": { "description": "Recorded (or silently skipped for opted-out visitors)" },
          "400": { "description": "Unknown event kind or invalid path/referrer" },
          "429": { "description": "Rate limited (60 requests/minute/IP)" }
        }
      }
    },
    "/api/chat/health": {
      "get": {
        "summary": "Health check",
        "operationId": "health",
        "responses": {
          "200": {
            "description": "Service is up",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status"],
                  "properties": { "status": { "type": "string", "const": "ok" } }
                }
              }
            }
          }
        }
      }
    },
    "/api/chat/openapi.json": {
      "get": {
        "summary": "This OpenAPI document",
        "operationId": "openapi",
        "responses": {
          "200": { "description": "OpenAPI 3.1 spec", "content": { "application/json": { "schema": { "type": "object" } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatMessage": {
        "type": "object",
        "required": ["role", "content"],
        "properties": {
          "role": { "type": "string", "enum": ["user", "assistant"] },
          "content": { "type": "string", "minLength": 1, "maxLength": 4000 }
        }
      },
      "ChatRequest": {
        "type": "object",
        "required": ["messages"],
        "properties": {
          "messages": {
            "type": "array",
            "minItems": 1,
            "maxItems": 40,
            "items": { "$ref": "#/components/schemas/ChatMessage" }
          },
          "conversation_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9-]+$",
            "description": "Optional client-generated id (e.g. a UUID) so multi-turn conversations can be grouped server-side."
          }
        }
      },
      "EventRequest": {
        "type": "object",
        "required": ["kind", "path"],
        "properties": {
          "kind": {
            "type": "string",
            "enum": ["pageview", "chat_open", "game_open", "outbound_click", "navigation", "form_submit", "not_found"]
          },
          "path": { "type": "string", "maxLength": 512, "pattern": "^/" },
          "referrer": { "type": ["string", "null"], "maxLength": 512, "description": "External origin only; path, query and fragment are discarded server-side." },
          "target": {
            "type": ["string", "null"],
            "maxLength": 512,
            "description": "What was acted on: query-free destination origin/path for outbound_click (or email), path-only internal destination for navigation, or game id for game_open."
          },
          "placement": {
            "type": ["string", "null"],
            "enum": ["header", "footer", "content", "cta", null],
            "description": "Coarse link placement for navigation and outbound_click."
          },
          "attribution": {
            "type": ["string", "null"],
            "enum": ["direct", "external", null],
            "description": "Direct or external acquisition classification on pageviews."
          },
          "source": {
            "type": ["string", "null"],
            "maxLength": 64,
            "pattern": "^[a-z0-9_-]+$",
            "description": "Normalized campaign tag from the landing URL (utm_source or ref query param)."
          },
          "screen": {
            "type": ["string", "null"],
            "enum": ["mobile", "tablet", "desktop", null],
            "description": "Coarse device class derived from viewport width."
          }
        }
      },
      "ChatResponse": {
        "type": "object",
        "required": ["reply"],
        "properties": { "reply": { "type": "string" } }
      }
    }
  }
}
